
config fullconenat
	option enable '0'
	#list ip '192.168.1.100'
	#list ip '192.168.1.101'
	#list ip '192.168.1.102'

uci get fullconenat.@fullconenat[0].ip




iptables -t nat -A zone_wan_prerouting -j FULLCONENAT
iptables -t nat -A zone_wan_postrouting -s 192.168.1.201 -j FULLCONENAT
iptables -t nat -A zone_wan_postrouting -j MASQUERADE

iptables -t nat -A zone_wan_postrouting -s 192.168.1.201 -j SNAT --to-source 192.168.1.201


iptables -t nat -A zone_wan_prerouting -j FULLCONENAT --to-source 192.168.1.201
iptables -t nat -A zone_wan_postrouting -j FULLCONENAT --to-source 192.168.1.201



iptables -t nat -A zone_wan_prerouting  -j FULLCONENAT
iptables -t nat -A zone_wan_postrouting -s 192.168.100.0/24 -j MASQUERADE



iptables -t nat -A zone_wan_prerouting -j FULLCONENAT
iptables -t nat -A zone_wan_postrouting -j FULLCONENAT
iptables -t nat -D zone_wan_prerouting -j FULLCONENAT
iptables -t nat -D zone_wan_postrouting -j FULLCONENAT


